= render "products/ProductHeader"
.Container
  .Register
    %h2.Register__title
      新規会員登録
    .Register__form
      .Contents
        = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
          = render "devise/shared/error_messages", resource: @user
          .ContentBlock
            = f.label :nickname, "ニックネーム", class: "ContentBlock__item"
            %span.ContentBlock__requirement
              必須
            = f.text_field :nickname, class: "ContentBlock__input", placeholder: "(例)ざきさん"
            .error__message
              - if @user.errors.include?(:nickname)
                = @user.errors.full_messages_for(:nickname).first
          .ContentBlock
            = f.label :email, "メールアドレス", class: "ContentBlock__item"
            %span.ContentBlock__requirement
              必須
            = f.email_field :email, class: "ContentBlock__input", placeholder: "携帯・パソコンどちらでも可能"
            .error__message
              - if @user.errors.include?(:email)
                = @user.errors.full_messages_for(:email).first
          .ContentBlock
            = f.label :password, "パスワード", class: "ContentBlock__item"
            %span.ContentBlock__requirement
              必須
            = f.password_field :password, class: "ContentBlock__input", placeholder: "7文字以上の半角英数字"
            .error__message
              - if @user.errors.include?(:password)
                = @user.errors.full_messages_for(:password).first
          .ContentBlock
            = f.label :password_confirmation, "パスワード(確認用)", class: "ContentBlock__item"
            %span.ContentBlock__requirement
              必須
            = f.password_field :password_confirmation, class: "ContentBlock__input", placeholder: "7文字以上の半角英数字"
            .error__message
              - if @user.errors.include?(:password_confirmation)
                = @user.errors.full_messages_for(:password_confirmation).first
          .ContentBlock
            = f.submit '次へ進む', class: "ContentBlock__submit", url: "address_path", method: :get
= render "products/Productfooter"