.Main
  .Header
    = link_to image_tag ('material/logo/logo.png')
  .Product
    .Product__List
      %section.Product__List__Verification.NoFst--cld
        %h2.Contents
          購入内容の確認
      %section.Product__List__Show.NoFst--cld
        .ShowForm
          .ShowForm__Image
            %figure
              = image_tag @product.images[0].image.url
          .ShowForm__Show
            %p.ProductName
              =@product.title
            %p.Product__Price
              %span.Shipping
                送料込み(税込)
              %span.Price 
                ¥
                = @product.price
      %section.Product__List__Price.NoFst--cld
        .PriceForm
          %span.PriceForm__Text
            支払い金額 
          %spam.PriceForm__TotalPrice
            ¥
            = @product.price
      %section.Product__List__Method.NoFst--cld
        .MethodForm
          .MethodForm__List
            %h3.MethodForm__Payment
              支払い方法
        - if @card.present?
          .MethodForm__Show_
            %p クレジットカード支払い
            = "**** **** **** " + @card_info_last4
            = image_tag "card_brand/#{@card_src}", width: '34', height: '28', alt: @card_brand, id: "card_image", class: "New-card-img"
            = link_to "変更する",user_cards_path(current_user.id), class: "Method__Change", id: "btn" 
        - else
          .MethodForm__Show.no-card
            %p クレジットカード支払い
            = link_to "登録する",user_cards_path(current_user.id), class: "Method__Change", id: "btn" 
      %section.Product__List__Address.NoFst--cld
        .AddressForm
          .AddressForm__Delivery
            %h3.AddressForm__DeliveryName 配送先
          = link_to "登録してください", "#", class: "Registration"
      %section.Button.NoFst--cld
        .ButtonForm#btn_token
          = form_with url:product_orders_path do |f|
            = f.button '購入する',type: 'submit', id: "btn",class:"btn_order" 
  .Footer
    .Footer__Center
      %ul.ul
        %li.li
          = link_to "プライバシーポリシー", "#"
        %li.li
          = link_to "メルカリ使用規約","#"
        %li.li
          = link_to "特定商取引に関する表記","#"
      = link_to image_tag 'material/logo/logo-white.png'
    %p © FURIMA, Inc.