= render "products/ProductHeader"
.Payment
  .Payment__content
    %main
      %section.Payment-title
        %h2 カード選択
      .Payment-content
        %section.CardInfo
          %ul.CardInfo-ul
            %li.CardInfo-li
              .CardInfo-box
                %span.Choice-btn
                  %input(type="radio")
                .CardInfo-text
                  %p 
                  %p.expiration-date 有効期限 00/00
                  = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/visa-91c71914c6ae23d33f896e60bb1e3859.svg', class: "Card-img"
                %bottun.Delete-btn
                  削除する
        %section.CardInfo
          %ul.CardInfo-ul
            %li.CardInfo-li
              .CardInfo-box
                %span.Choice-btn
                  %input(type="radio")
                .CardInfo-text
                  %p ***********0000
                  %p.Expiration-date 有効期限 00/00
                  = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/visa-91c71914c6ae23d33f896e60bb1e3859.svg', class: "Card-img"
                %bottun.Delete-btn
                  削除する
          = link_to card_registration_product_orders_path, class: "Card-add" do
            = icon("fas", "plus-circle")
            クレジットカードを追加
        %section.CardInfo
          %button.content-bottom--add-btn 選択したカードを使う
          = link_to 'もどる', "#", class: 'return-btn'
= render "products/Productfooter"