.Main
  .Header
    %a(href="#")
      = image_tag 'material/logo/logo.png'
  .Product
    .Product__List
      %section.Product__List__Verification.NoFst--cld
        %h2.Verification__Contents
          購入内容の確認
      %section.Product__List__Show.NoFst--cld
        .ProductForm
          .ProductForm__Image
            %figure
              %img(src="https://o.imgz.jp/fashionnews/109222/master_640_1.jpg" alt="商品画像一枚" srcset="")/
          .ProductForm__Show
            %p.ProductName
              ここに商品名が入る
            %p.Product__Price
              %span.Shipping
                送料込み(税込)
              %span.Price
                ¥1,000
      %section.Product__List__Price.NoFst--cld
        .PriceForm
          %span.Price__Text
            支払い金額 
          %spam.Total__Price
            ¥1,100
      %section.Product__List__Method.NoFst--cld
        .MethodForm
          .Method__List
            %h3.Method__Payment
              支払い方法
            = link_to "変更する","#", class: "Method__Change" 
          .Method--Show
            %p クレジットカード支払い
            %p 手数料¥100
      %section.Product__List__Address.NoFst--cld
        .AddressForm
          .Delivery
            %h3.Delivery__Name 配送先
          = link_to "登録してください","#" , class: "Registration"
      %section.Button.NoFst--cld
        .ButtonForm
          %button.btn(type="button") 購入する
  .Footer
    .Footer__Center
      %ul.ul
        %li.li
          = link_to "プライバシーポリシー", "#"
        %li.li
          = link_to "メルカリ使用規約","#"
        %li.li
          = link_to "特定商取引に関する表記","#"
    %a(href="#")
      = image_tag 'material/logo/logo-white.png'
    %p © FURIMA, Inc.