.Main
  .Header
    %a(href="#")
      = image_tag 'material/logo/logo.png'
  .Product
    .ProductList
      %section.Verification.fst--cld
        %h2.Name
          購入内容の確認
      %section.Show.fst--cld
        .ProductForm
          .Image
            %figure
              %img(src="https://o.imgz.jp/fashionnews/109222/master_640_1.jpg" alt="商品画像一枚" srcset="")/
          .Show
            %p.Product__title
              ここに商品名が入る
            %p.ProductArea
              %span.Shipping
                送料込み(税込)
              %span.Price
                ¥1,000
      %section.Price.fst--cld
        .PriceForm
          %span.Text
            支払い金額 
          %spam.Total__Price
            ¥1,100
      %section.Method.fst--cld
        .MethodForm
          .Method__List
            %h3.Name
              支払い方法
            = link_to "変更する","#", class: "Change" 
          .Method__Show
            %p クレジットカード支払い
            %p 手数料¥100
      %section.Address.fst--cld
        .AddressForm
          .Delivery__Name
            %h3.Delivery 配送先
          = link_to "登録してください","#" , class: "Registration"
      %section.Button.fst--cld
        .ButtonForm
          %button.btn(type="button") 購入する

  .Footer
    .Footer__Center
      %ul.ul
        %li.li
          = link_to "プライバシーポリシー", "#"
        %li.li
          = link_to "メルカリ使用規約","#"
        %li.li
          = link_to "特定商取引に関する表記","#"
    %a(href="#")
      = image_tag 'material/logo/logo-white.png'
    %p © FURIMA, Inc.