%header
  .MainHeader
    .MainHeader__icon
      %a{ href: '#' }
        = image_tag 'material/logo/logo.png', class: "Logo"
    .MainHeader__searchBox
      -# 検索欄は後ほど変更があると思われるのでtopページ作成の時点ではこの記述とする（実装後コメントアウト削除をお願いします。）
      %form キーワードから探す
      .SearchButton
        = image_tag 'material/icon/icon-search 1.png', class: "Button"
  .Nav
    -# ナビバーは後ほどリンクなどの変更があると思われるのでtopページ作成の時点ではこの記述とする（実装後コメントアウト削除をお願いします。）
    %ul.ListLeft
      %li.ListLeft__item
        %a{ href: '#' }
          カテゴリー
      %li.ListLeft__item
        %a{ href: '#' }
          ブランド
    - if user_signed_in?
      %ul.ListRight
        %li.ListRight__item
          = link_to "マイページ", "/users/#{current_user.id}"
    - else
      %ul.ListRight
        %li.ListRight__item
          = link_to "ログイン", new_user_session_path
        %li.ListRight__item
          = link_to "新規会員登録", new_user_registration_path