.Main
  %section.MainVisual
    .Content
      %h2.Content__subtitle 人生を変えるフリマアプリ
      %p.Content__text 
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .Content__btn
        = link_to image_tag('material/badge/Download_on_the_App_Store_Badge_US-UK_blk_092917.png', class: "appleIcon"), '#'
        = link_to image_tag('material/badge/google-play-badge.png', class: "googleIcon"), '#'
  %section.TopIntroduction
    %h2.subtitle
      FURIMAが選ばれる3つの理由
      .border
    %ul.Lists
      %li.List
        .List__pict
          %span.number 1
          = link_to image_tag('material/pict/pict-reason-01.jpg', class: "backgroundPict"), '#'
        %h3.List__text
          %span 3分
          ですぐに出品
        %p.List__description
          スマホで入力するだけで簡単に出品できる！
      %li.List
        .List__pict
          %span.number 2
          = link_to image_tag('material/pict/pict-reason-02.jpg', class: "backgroundPict"), '#'
        %h3.List__text
          %span シンプル
          で使いやすい
        %p.List__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.List.List--last
        .List__pict
          %span.number 3
          = link_to image_tag('material/pict/pict-reason-03.jpg', class: "backgroundPict"), '#'
        %h3.List__text
          手数料
          %span 業界最安
        %p.List__description
          最大3%でお得に出品＆購入！
  %section.TopMiddle
    .Content
      %h2.Content__subtitle 会員数日本一位
      %p.Content__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .Content__btn
        = link_to image_tag('material/badge/Download_on_the_App_Store_Badge_US-UK_blk_092917.png', class: "appleIcon"), '#'
        = link_to image_tag('material/badge/google-play-badge.png', class: "googleIcon"), '#'
  %section.TopKeyFeatures
    %h2.head
      FURIMAの特徴
      .border
    .Items
      .Item
        .Item__img
          = image_tag 'material/icon/icon-01.png', class: "image"
        .Item__subtitle
          簡単に売り買いできる
        .Item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .Item
        .Item__img
          = image_tag 'material/icon/icon-03.png', class: "image"
        .Item__subtitle
          売上金は即日振込みに対応
        .Item__detail
          午前９時までに振り込みを依頼いただければ、翌日に指定の口座に入金いたします！
      .Item
        .Item__img
          = image_tag 'material/icon/icon-04.png', class: "image"
        .Item__subtitle
          様々な支払いに対応
        .Item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  -# カテゴリー部分のイメージ画像については後ほどデータベース上から画像を参照すると考えられるため現段階では記述していません。（実装後コメントアウト削除をお願いします。）
  .PickupContainer
    %h2.head
      ピックアップカテゴリー
    .ProductBox
      .ProductHead
        = link_to '#' do
          %h3.title
            新規投稿商品
      .ProductLists
        - @products.each do |product|
          .ProductList
            = link_to product_path(product.id),{class: "ProductLink"} do
              %figure.ProductList__img
                = image_tag product.images[0].image.url, :class => "ProductImg"
              .ProductList__body
                %h3.name
                  =product.title
                .details
                  %ul
                    %li 
                      %span
                        =product.price
                      円
                    %li
                      = icon('fas', 'star')
                  %p (税込)
              -# -if product.purchaser_id.present? 
              -#   .ItemProperty__sold
              -#   .ItemProperty__inner
              -#     SOLD
  .PickupContainer.LastContainer
    %h2.head
      ピックアップブランド
    .ProductBox
      .ProductHead
        = link_to '#' do
          %h3.title
            アーカイバ
      .ProductLists
        - @products.each do |product|
          .ProductList
            = link_to product_path(product.id),{class: "ProductLink"} do
              %figure.ProductList__img
                = image_tag product.images[0].image.url, :class => "ProductImg"
              .ProductList__body
                %h3.name
                  =product.title
                .details
                  %ul
                    %li 
                      %span
                        =product.price
                      円
                    %li
                      = icon('fas', 'star')
                  %p (税込)
              -if product.id.present? 
                .ItemProperty__sold
                .ItemProperty__inner
                  SOLD
.AppBanner
  .Inner
    %h2.Inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.Inner__text
      今すぐ無料ダウンロード！
    .Inner__btn
      = link_to image_tag('material/badge/Download_on_the_App_Store_Badge_US-UK_blk_092917.png', class: "appleIcon"), '#'
      = link_to image_tag('material/badge/google-play-badge.png', class: "googleIcon"), '#'
