= render "ProductHeader"
.product 
  .product__contents
    = form_for @product,local: true do |f|
      .ImageSide
        %label.ImageSide__label
          出品画像
          %span.ImageSide__label__required
            必須
        .ImageSide__PhotoNumber
          最大５枚までアップロードできます
          .ImageForm
            .ImageSide__form
              %div#previews
                - if @product.persisted?
                  - @product.images.each_with_index do |image, s|
                    .show-image
                      = image_tag image.image.url, data: {index: s},class:"image-file",width: '100', height: '100'
                      .cotent
                        .div{data: {index:s},class:"js-remove"}
                          削除
                        .div{data: {index:s},class:"js-edit"}
                          編集
              .ImageSide__form__icon
                = icon('fa', 'camera')
                .ImageSide__form__icon__text
                  クリックしてファイルをアップロード
              %div#image-box
          = f.fields_for :images do |i|
            %div{id:"ImageData#{i.index}",class:"ImageFile_group"}
              = i.file_field :image, class: "ImageFile", data: {index: i.index},accept: 'image/jpg,image/jpeg,image/png,image/gif'
              - if @product.persisted?
                = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden'
          - if @product.persisted?
            %div{data: {index:@product.images.count},class:"ImageFile_group"}
              = file_field_tag :image,name: "product[images_attributes][#{@product.images.count}][image]",id:"product_images_attributes_#{@product.images.count}_image", class: 'ImageFile',accept: 'image/jpg,image/jpeg,image/png,image/gif',data: {index:@product.images.count}
              .ErrorMessage
                - if @product.errors.include?(:images)
                  = @product.errors.full_messages_for(:images).first
        .ProductSide__name
          商品名
          %span.ProductSide__name__required
            必須
        = f.text_field :title, class:"ProductSide__NameBox",placeholder: "40文字まで"
        .ErrorMessage
          - if @product.errors.include?(:title)
            = @product.errors.full_messages_for(:title).first
        .ProductSide__description
          商品の説明
          %span.ProductSide__description__required
            必須
        = f.text_area :explanation,class:"ProductSide__form",rows:"7",placeholder: "商品の説明（必須1,000文字以内）\n(色、素材、重さ、定価、注意点など）\n\n例）2015年に購入したNintendoSwitchです。開封済みの品ですが状態は良好です"
        .ErrorMessage
          - if @product.errors.include?(:explanation)
            = @product.errors.full_messages_for(:explanation).first
        .ProductSide__LengthCount
          0/1000
      .DetailsSide
        .DetailsSide__details
          商品の詳細
          .form
            .DetailsSide__category
              カテゴリー
              %span.DetailsSide__category__required
                必須
            = f.collection_select :category_id, @parents, :id, :name, {selected: @parent.id}, {id: 'product_category_id'}
            = f.collection_select :category_id, @children, :id, :name, {selected: @child.id}, {class: 'child_category_id', id: 'child_category'}
            = f.collection_select :category_id, @grandchildren, :id, :name, {selected: @grandchild.id}, {class: 'grandchild_category_id', id: 'grandchild_category'}
        .DetailsSide__brand
          ブランド
          %span.DetailsSide__brand__any
            任意
        = f.text_field :brand,class: "DetailsSide__BrandName",placeholder: "例）シャネル"
        .DetailsSide__status
          商品の状態
          %span.DetailsSide__status__required
            必須
        = f.collection_select :product_status_id,ProductStatus.all, :id, :name
      .delivery
        .delivery__method
          配送方法について
          = link_to icon('fa','question-circle'),"#"
        .delivery__price
          配送料の負担
          %span.delivery__price__required
            必須
        = f.collection_select :delivery_burden_id,DeliveryBurden.all, :id, :name
        .delivery__area
          配送元の地域
          %span.delivery__area__required
            必須
        = f.collection_select :postal_prefectures_id,PostalPrefectures.all, :id, :name
        .delivery__day
          発送までの日数
          %span.delivery__day__required
            必須
        = f.collection_select :estimated_shipping_id,EstimatedShipping.all, :id, :name
      .price
        .price__example
          価格（¥300~9,999,999)
          = link_to icon('fa','question-circle'),"#"
        %label.price__SellingPrice
          販売価格
          %span.price__SellingPrice__required
            必須
          .price__SellingPrice__PriceForm
            ¥
            = f.number_field :price,placeholder:"0",min:"300" ,max:"9999999",class: "price__SellingPrice__PriceForm__input"
            .ErrorMessage__price
              - if @product.errors.include?(:price)
                = @product.errors.full_messages_for(:price).first
        .price__fee
          販売手数料(10%)
          .price__fee__FeePrice
            ー
        .price__sales
          販売利益
          .price__sales__ProfitAmount
            ー
        .BtnSide
          = f.submit "編集する",class: "BtnSide__listing-btn"
          %button{type:"submit",class: "BtnSide__draft-btn"}下書きする
          = link_to "もどる","/",class:"BtnSide__return"
= render "Productfooter"