= render "header"
%nav.Category-nav__item-name
  %ul
    %li
      = link_to "FURIMA", "#"
    %li
      = icon("fas","angle-right")
    %li
      = link_to "#" do
        = @product.category.parent.parent.name
    %li
      = icon("fas","angle-right")
    %li
      = link_to "#" do
        = @product.category.parent.name
    %li 
      = icon("fas","angle-right")
    %li
      = link_to "#" do
        = @product.category.name
    %li
      = icon("fas","angle-right")
    %li.item-name
      商品名
.Main
  .MainShow
    .Main-contents
      %section.ItemBox
        %h2.ItemBox__name
          = @product.title
        = render 'layouts/notifications'
        .ItemBox__photo
          %ul
            %li
              = image_tag @product.images[0].image.url, class: "ItemBox__photo-main"
              %ul
                - @product.images.each do |product|
                  %li= image_tag product.image.url, class: "ItemBox__photo-sub"
        .ItemBox__price
          %span.ItemBox__price-price= "¥#{@product.price.to_s(:delimited)}"
          %span.ItemBox__price-tax (税込)
          %span.ItemBox__price-info
            - if @product.DeliveryBurden.id == 1
              送料込み
            -else
              着払い
        - unless user_signed_in? && current_user.id == @product.user_id 
          = link_to "購入画面に進む", new_product_order_path(@product.id), class: "ItemBox__buy-btn"
        .ItemBox__description
          =@product.explanation
        .ItemBox__details
          %table
            %tbody
              %tr
                %th 出品者
                %td=@product.user.nickname
              %tr
                %th カテゴリー
                %td
                  =link_to '#' do
                    = @product.category.parent.parent.name
                  %br/
                  =link_to '#' do
                    = @product.category.parent.name
                  %br/
                  =link_to '#' do
                    = @product.category.name
              %tr
                %th ブランド
                %td=@product.brand
              %tr
                %th 商品の状態
                %td=@product.ProductStatus.name
              %tr
                %th 配送料の負担
                %td=@product.DeliveryBurden.name
              %tr
                %th 発送元の地域
                %td=@product.PostalPrefectures.name
              %tr
                %th 発送日の目安
                %td=@product.EstimatedShipping.name
        .ItemBox__btn
          %ul
            %li.ItemBox__btn-like
              = icon("fas", "star")
              お気に入り 0
          %ul
            %li.ItemBox__btn-report
              = link_to "#" do
                = icon("fab", "font-awesome-flag")
                不適切な商品の通報
      .CommentArea
        = form_with url: "#" do |f|
          = f.text_area :comment
          %p.caution
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = button_tag type: 'submit', class: 'button' do
            = icon("fas", "comment")
            コメントする
      %ul.AnotherProducts
        %li
          = link_to "#" do
            = icon("fas","angle-left")
            前の商品
        %li
          = link_to "#" do
            後ろの商品
            = icon("fas","angle-right")
      - if user_signed_in? && current_user.id == @product.user_id
        .EditDeleteArea
          = link_to "#", class: "edit-btn" do
            商品の編集
          = link_to product_path(@product.id), method: :delete, data: {confirm: '削除しますか？'}, class: "delete-btn" do
            この商品を削除する
      .SeeMoreProducts
        = link_to "#{@product.category.name}（#{@product.category.parent.parent.name}）をもっと見る", "#"
        .SeeMoreProduct
          - @products.each do |product|
            - if product.category.id == @category.id && @product.id != product.id
              .SeeMoreProduct__list
                = link_to product_path(product.id) do
                  %figure.SeeMoreProduct__list-image
                    = image_tag product.images[0].image.url
                  .SeeMoreProduct__list-body
                    %h3.name
                      =product.title
                    .info
                      %ul
                        %li 
                          %span
                            =product.price.to_s(:delimited)
                          円
                        %li
                      %p (税込)
= render "footer"
= render "sellingbtn"
